[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
pandas = "*"
numpy = "*"
spacy = "*"
requests = "*"
beautifulsoup4 = "*"
transformers = "*"
torch = "*"
sentence-transformers = "*"
openai = "*"
python-dotenv = "*"
sumy = "*"
wikipedia-api = "*"
scikit-learn = "*"
plotly = "*"
dash = "*"
pypdf2 = "*"
docx2txt = "*"
cloudinary = "*"
dash-bootstrap-components = "*"

[dev-packages]

[requires]
python_version = "3.9"
