/*
Styling for the app.
To find out more about styling go to https://dash.plotly.com/external-resources
*/

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

body {
    height: fit-content;
    background-color: var(--vanilla);
}

/* Global CSS Variables */
:root {
    --darkblue: #003049;
    --red: #D62828;
    --orange: #F77F00;
    --paleyellow: #FCBF49;
    --vanilla: #EAE2B7;
}

/* Headings */
#main-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.no-docs-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(0,0,0, 0.1);
}

/* Containers */
#main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: fit-content;
    padding: 2em;
    margin: 0 auto;
    background-color: var(--vanilla);
    height: 100vh;
    max-height: 100%;
}

#section-container {
    min-height: fit-content;
    flex-grow: 1;
    overflow-y: scroll;
    padding: 0;
    border: 0.25em solid var(--darkblue);
    border-radius: 1em;
}

#doc-section {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.2);
}

#info-extract-section, #summary-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 2em;
    background-color: rgba(0,0,0, 0.2);
}

#info-extract-params, #info-extract-output, #summary-params, #summary-output {
    display: flex;
    flex-direction: column;
    width: 48%;
    height: 100%;
}

#info-extract-params, #summary-params {
    justify-content: space-evenly;
    padding: 2em;
    border: 0.2em solid var(--darkblue);
    border-radius: 1em;
    background-color: var(--paleyellow);
}

#info-extract-output, #summary-output {
    border: 0.2em solid var(--darkblue);
    border-radius: 1em;
    background-color: var(--vanilla);
}

#info-extract-output > *, #summary-output > * {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--vanilla);
    border-radius: 1em;
}

/* Upload Component */
#upload-data {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    border-radius: 1em;
    border: 0.3em solid var(--darkblue);
    margin: 1em 0;
    text-align: center;
    font-weight: bold;
    color: var(--darkblue);
    background-color: var(--paleyellow);
}

#upload-data > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2em 0;
    border-radius: 0.7em;
    cursor: pointer;
}

#upload-text {
    width: 100%;
    height: 100%;
}

#upload-data:hover {
    background-color: var(--darkblue);
    border-color: var(--paleyellow);
    color: white;
}

/* Tabs */
#main-tabs {
    margin-bottom: 1em;
}

#main-tabs .main-tab {
    border: 0.1em solid var(--orange);
    /* border-radius: 1em 1em 0 0; */
    background-color: var(--paleyellow);
}

#main-tabs .main-tab:first-child {
    border-radius: 1em 0 0 1em;
}

#main-tabs .main-tab:last-child {
    border-radius: 0 1em 1em 0;
}

#main-tabs .main-tab-selected {
    border: 0.1em solid var(--red);
    background-color: var(--darkblue);
    color: white;
    font-weight: bolder;
}

#main-tabs .main-tab:not(.main-tab-selected):hover {
    background-color: var(--orange);
}

/* Accordions */
.doc-accord-item * {
    background-color: var(--darkblue);
    color: white;
}

.doc-accord-item {
    border-radius: 0;
    border: none;
    border-bottom: 0.2em solid var(--orange);
    border-left: 0.2em solid var(--orange);
    border-right: 0.2em solid var(--orange);
}

/* Form Elements */
.doc-content {
    height: 15em;
    overflow-y: scroll;
    width: 100%;
    padding: 1em;
    border: 0.2em solid var(--orange);
    border-radius: 1em;
    background-color: var(--paleyellow);
    color: var(--darkblue)
}

#info-extract-doc-select *, #info-extract-method-select *, #summary-doc-select *, #summary-method-select * {
    color: var(--darkblue)
}

#info-extract-output-content, #summary-output-content {
    flex-grow: 1;
    overflow-y: scroll;
    padding: 1em;
    border: none;
    border-radius: 1em;
    background-color: var(--vanilla);
    color: var(--darkblue);
}

/* Modals */
#new-doc-modal-header {
    border: none;
    background-color: var(--darkblue);
    color: var(--paleyellow);
}

#new-doc-modal-header button {
    background-color: white;
}

#new-doc-modal-body {
    display: flex;
    flex-direction: column;
    border: none;
    background-color: var(--paleyellow);
    color: var(--darkblue);
}

#new-doc-name, #new-doc-content {
    background-color: var(--vanilla);
    color: var(--darkblue);
}

#new-doc-content {
    flex-grow: 1;
}

#new-doc-modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red);
    border: none;
}

#new-doc-modal-btn {
    width: 50%;
    border: 0.2em solid var(--darkblue);
    background-color: var(--paleyellow);
    color: var(--darkblue);
    font-weight: 900;
}

#new-doc-modal-btn:hover {
    border-color: var(--paleyellow);
    background-color: var(--darkblue);
    color: var(--paleyellow);
}

/* Buttons */
#doc-btn-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0.75em 0.5em;
    border-bottom: 0.2em solid var(--orange);
    border-radius: 0.5em 0.5em 0 0;
    background-color: rgba(0,0,0, 0.35);
}

#doc-btn-container > * {
    width: 33.3%;
    padding: 0.35em;
    border-radius: 0.5em;
    font-weight: 900;
}

#download-doc-btn {
    margin: 0em 0.5em 0em 0.5em;
}

.doc-btn[id="new-doc-btn"] {
    border: 0.15em solid var(--darkblue);
    background-color: var(--paleyellow);
    color: var(--darkblue);
}

.doc-btn[id="download-doc-btn"] {
    border: 0.15em solid var(--darkblue);
    background-color: var(--vanilla);
    color: var(--darkblue);
}

.doc-btn[id="delete-doc-btn"] {
    border: 0.15em solid var(--paleyellow);
    background-color: var(--red);
    color: var(--paleyellow);
}

.doc-btn[id="new-doc-btn"]:hover {
    border-color: var(--paleyellow);
    background-color: var(--darkblue);
    color: var(--paleyellow);
}

.doc-btn[id="download-doc-btn"]:hover {
    border-color: var(--vanilla);
    background-color: var(--darkblue);
    color: var(--vanilla);
}

.doc-btn[id="download-doc-btn"]:active {
    background-color: var(--orange);
}

.doc-btn[id="delete-doc-btn"]:hover {
    border-color: var(--red);
    background-color: var(--paleyellow);
    color: var(--red);
}

.doc-btn[id="delete-doc-btn"]:active {
    background-color: var(--vanilla);
}

.doc-btn-disabled {
    background-color: lightgray;
    border: none;
    color: slategray;
}

.nlp-btn, .nlp-btn-disabled {
    padding: 1em 0;
    font-weight: 900;
    border-radius: 1em;
}

.nlp-btn-disabled {
    border: none;
    background-color: lightgray;
    color: slategray
}

.nlp-btn {
    border: 0.2em solid var(--darkblue);
    background-color: var(--orange);
    color: white;
}

.nlp-btn:hover {
    border-color: var(--orange);
    background-color: var(--darkblue);
    color: var(--orange)
}

