/*
Styling for the app.
To find out more about styling go to https://dash.plotly.com/external-resources
*/

/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Universal Styling */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

body {
    height: fit-content;
    background-color: var(--vanilla);
}

/* Global CSS Variables */
:root {
    --darkblue: #003049;
    --red: #D62828;
    --orange: #F77F00;
    --paleyellow: #FCBF49;
    --vanilla: #EAE2B7;
}

/* Headings */
#main-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 0.3em;
    border-bottom: 0.05em solid var(--darkblue);
    font-family: 'Poiret One', cursive;
    font-weight: 900;
    font-size: 3em;
    color: var(--darkblue)
}

.no-docs-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(0,0,0, 0.1);
    font-family: 'Raleway', sans-serif;
}

#wikibot-tagline {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-family: 700;
    color: var(--darkblue);
}

#new-doc-modal-heading, #edit-doc-modal-heading {
    font-family: 'Raleway', sans-serif;
    font-family: 700;
}

/* Containers */
#main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: fit-content;
    padding: 2em;
    margin: 0 auto;
    background-color: var(--vanilla);
    height: 100vh;
    max-height: 100%;
}

#section-container {
    flex-grow: 1;
    max-height: 65vh;
    padding: 0;
    border: 0.25em solid var(--darkblue);
    border-radius: 1em;
}

#doc-section {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.2);
}

#info-extract-section, #summary-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 2em;
    background-color: rgba(0,0,0, 0.2);
}

#clustering-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#wikibot-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* padding: 2em; */
    padding: 0em;
    background-color: rgba(0,0,0, 0.2);
}

#wikibot-message-space {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    background-color: var(--orange);
}

#wikibot-message {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1em;
}

#wikibot-message.user {
    justify-content: flex-start;
    background-color: rgba(0,0,0, 0.01);
}

#wikibot-message.bot {
    justify-content: flex-end;
    background-color: rgba(0,0,0, 0.05);
}

#wikibot-message-content {
    padding: 1em;
    max-width: 25%;
}

#wikibot-message-content.user {
    border-radius: 0em 1em 0em 1em;
    background-color: var(--paleyellow);
}

#wikibot-message-content.bot {
    border-radius: 1em 0em 1em 0em;
    background-color: var(--darkblue);
    color: white;
}

#wikibot-section > * {
    width: 100%;
}

#clustering-fig-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: scroll;
    border-radius: 0 0 0.6em 0.6em;
}

#clustering-fig-container > * {
    height: 100%;
}

#clustering-plot {
    height: 100%;
}

#info-extract-params, #info-extract-output, #summary-params, #summary-output {
    display: flex;
    flex-direction: column;
    width: 48%;
    height: 100%;
}

#wikibot-output {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#info-extract-params, #summary-params {
    justify-content: space-evenly;
    padding: 2em;
    border: 0.2em solid var(--darkblue);
    border-radius: 1em;
    background-color: var(--paleyellow);
}

#info-extract-params > div > h3, #summary-params > div > h3 {
    font-family: 'Raleway', sans-serif;
    font-family: 700;
}

#clustering-params, #wikibot-params {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
    background-color: var(--paleyellow);
}

#clustering-params {
    border-bottom: 0.2em solid var(--darkblue);
    border-radius: 0.7em 0.7em 0 0;
}

#wikibot-params {
    border: 0.2em solid var(--darkblue);
    border-radius: 1em;
    /* margin-bottom: 1em; */
    margin-bottom: 0em;
}

#info-extract-output, #summary-output, #wikibot-output {
    border: 0.2em solid var(--darkblue);
    border-radius: 1em;
    background-color: var(--vanilla);
}

#info-extract-output > *, #summary-output > *, #wikibot-output > * {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--vanilla);
    border-radius: 1em;
}

/* Upload Component */
#upload-data {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    border-radius: 1em;
    border: 0.3em solid var(--darkblue);
    margin: 1em 0;
    text-align: center;
    font-weight: bold;
    color: var(--darkblue);
    background-color: var(--paleyellow);
}

#upload-data > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2em 0;
    border-radius: 0.7em;
    cursor: pointer;
}

#upload-text {
    width: 100%;
    height: 100%;
    font-family: 'Comfortaa', cursive;
    font-weight: 900;
}

#upload-data:hover {
    background-color: var(--orange);
    color: white;
}

/* Tabs */
#main-tabs {
    margin-bottom: 1em;
}

#main-tabs .main-tab {
    border: 0.1em solid var(--orange);
    background-color: var(--paleyellow);
}

.main-tab * {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
}

#main-tabs .main-tab:first-child {
    border-radius: 1em 0 0 1em;
}

#main-tabs .main-tab:last-child {
    border-radius: 0 1em 1em 0;
}

#main-tabs .main-tab-selected {
    border: 0.1em solid var(--red);
    background-color: var(--darkblue);
    color: white;
    font-weight: bolder;
}

#main-tabs .main-tab:not(.main-tab-selected):hover {
    background-color: var(--orange);
}

/* Accordions */
#doc-accord-container {
    height: 89.5%;
    overflow-y: scroll;
    border-radius: 0 0 0.5em 0.5em;
}

.doc-accord-item * {
    background-color: var(--darkblue);
    color: white;
}

.doc-accord-item {
    border-radius: 0;
    border: none;
    border-bottom: 0.2em solid var(--orange);
    border-left: 0.2em solid var(--orange);
    border-right: 0.2em solid var(--orange);
}

/* Form Elements */
.doc-content {
    height: 15em;
    overflow-y: scroll;
    width: 100%;
    padding: 1em;
    border: 0.2em solid var(--orange);
    border-radius: 1em;
    background-color: var(--paleyellow);
    color: var(--darkblue)
}

#info-extract-doc-select *, #info-extract-method-select *, #summary-doc-select *, #summary-method-select * {
    color: var(--darkblue)
}

#info-extract-output-content, #summary-output-content, #wikibot-output-content {
    flex-grow: 1;
    overflow-y: scroll;
    padding: 1em;
    border: none;
    border-radius: 1em;
    background-color: var(--vanilla);
    color: var(--darkblue);
    resize: none;
}

#clustering-doc-select, #wikibot-query {
    width: 50%;
}

#clustering-num-select, #wikibot-method-select {
    width: 20%;
}

/* Modals */
#new-doc-modal-header, #edit-doc-modal-header {
    border: none;
    background-color: var(--darkblue);
    color: var(--paleyellow);
}

#new-doc-modal-header button, #edit-doc-modal-header button {
    background-color: white;
}

#new-doc-modal-body, #edit-doc-modal-body {
    display: flex;
    flex-direction: column;
    border: none;
    background-color: var(--paleyellow);
    color: var(--darkblue);
}

#new-doc-modal-body > h3, #edit-doc-modal-body > h3 {
    font-family: 'Raleway', sans-serif;
    font-family: 700;
}

#new-doc-name, #new-doc-content, #edit-doc-name, #edit-doc-content {
    background-color: var(--vanilla);
    color: var(--darkblue);
}

#new-doc-content, #edit-doc-content {
    flex-grow: 1;
}

#new-doc-modal-footer, #edit-doc-modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red);
    border: none;
}

#new-doc-modal-btn, #edit-doc-modal-btn {
    width: 50%;
    border: 0.2em solid var(--darkblue);
    background-color: var(--paleyellow);
    color: var(--darkblue);
    font-family: 'Comfortaa', cursive;
    font-weight: 900;
}

#new-doc-modal-btn:hover, #edit-doc-modal-btn:hover {
    border-color: var(--paleyellow);
    background-color: var(--darkblue);
    color: var(--paleyellow);
}

/* Buttons */
#doc-btn-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0.75em 0.5em;
    border-bottom: 0.2em solid var(--orange);
    border-radius: 0.5em 0.5em 0 0;
    background-color: rgba(0,0,0, 0.35);
}

#doc-btn-container > * {
    width: 25%;
    padding: 0.35em;
    border-radius: 0.5em;
    font-weight: 900;
}

#download-doc-btn {
    margin: 0em 0.5em 0em 0.25em;
}

#edit-doc-btn {
    margin: 0em 0.25em 0em 0.5em
}

.doc-btn, .doc-btn-disabled {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
}

.doc-btn[id="new-doc-btn"] {
    border: 0.15em solid var(--darkblue);
    background-color: var(--paleyellow);
    color: var(--darkblue);
}

.doc-btn[id="edit-doc-btn"] {
    border: 0.15em solid var(--vanilla);
    background-color: var(--orange);
    color: var(--vanilla);
}

.doc-btn[id="download-doc-btn"] {
    border: 0.15em solid var(--darkblue);
    background-color: var(--vanilla);
    color: var(--darkblue);
}

.doc-btn[id="delete-doc-btn"] {
    border: 0.15em solid var(--paleyellow);
    background-color: var(--red);
    color: var(--paleyellow);
}

.doc-btn[id="new-doc-btn"]:hover {
    border-color: var(--paleyellow);
    background-color: var(--darkblue);
    color: var(--paleyellow);
}

.doc-btn[id="edit-doc-btn"]:hover {
    border-color: var(--orange);
    background-color: var(--vanilla);
    color: var(--orange);
}

.doc-btn[id="download-doc-btn"]:hover {
    border-color: var(--vanilla);
    background-color: var(--darkblue);
    color: var(--vanilla);
}

.doc-btn[id="download-doc-btn"]:active {
    background-color: var(--orange);
}

.doc-btn[id="delete-doc-btn"]:hover {
    border-color: var(--red);
    background-color: var(--paleyellow);
    color: var(--red);
}

.doc-btn[id="delete-doc-btn"]:active {
    background-color: var(--vanilla);
}

.doc-btn-disabled {
    background-color: lightgray;
    border: none;
    color: slategray;
}

.nlp-btn, .nlp-btn-disabled {
    padding: 1em 0;
    border-radius: 1em;
    font-family: 'Comfortaa', cursive;
    font-weight: 900;
}

.nlp-btn-disabled {
    border: none;
    background-color: lightgray;
    color: slategray
}

.nlp-btn {
    border: 0.2em solid var(--darkblue);
    background-color: var(--orange);
    color: white;
}

.nlp-btn:hover {
    border-color: var(--orange);
    background-color: var(--darkblue);
    color: var(--orange)
}

#clustering-btn, #wikibot-btn {
    width: 25%;
    padding: 0.25em 0;
}

/* Icons */
#wikibot-icon {
    font-size: 3em;
    text-align: center;
    color: var(--paleyellow);
    text-shadow: 0px 0px 0.08em black;
}

#wikibot-icon span {
    font-size: 0.7em;
    font-family: monospace;
    font-style: normal;
}
